				<section class="elementor-section elementor-top-section elementor-element elementor-element-11468c70 elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="11468c70" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-42fe2b92" data-id="42fe2b92" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-0f42e21 elementor-widget elementor-widget-image" data-id="0f42e21" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="https://www.checkatrade.com/trades/Casa4DevelopmentsLtd">
							<img decoding="async" width="300" height="82" src="/images/checkatrade.png" class="attachment-medium size-medium wp-image-1466" alt="Checkatrade approved contractor logo">								</a>
															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f11b409" data-id="f11b409" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-4a8186a elementor-widget elementor-widget-image" data-id="4a8186a" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="https://www.trustatrader.com/traders/casa-4-developments-ltd-blockpaving-driveways-portsmouth-north">
							<img loading="lazy" decoding="async" width="300" height="104" src="/images/trustatrader.png" class="attachment-medium size-medium wp-image-1866" alt="TrustATrader approved driveway and landscaping company in Fareham Portsmouth Casa 4 Developments">								</a>
															</div>
				</div>
					</div>
		</div>
					</div>
		</section>
